{% extends "base.html" %}
{% load custom_tags %}

{% block page_title %}
search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
<h2>search!</h2>

<form method="get" action="{% url "rooms:search" %}">
  {{form.as_p}}
  <button>Search</button>
</form>

<h3>Results</h3>
{% for room in rooms %}
  <h3>{{room.name}}</h3>
{% endfor %}

<h4>
{% if rooms.has_previous %}
    <a href="{{request.get_full_path|prevpage:rooms.number}}">Previous</a>
{% endif %}
page {{rooms.number}} of {{rooms.paginator.num_pages}}
{% if rooms.has_next %}
    <a href="{{request.get_full_path|nextpage:rooms.number}}">Next</a>
{% endif %}
</h4>

{% endblock content %}
