@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
}

.nav_link {
  @apply ml-5 border-b-2 border-white h-full flex items-center;

  a {
    @apply py-10 px-5;
  }

  &:hover {
    @apply border-gray-600;
  }
}

.btn {
  @apply w-full mb-2 text-center text-lg font-light rounded-sm py-5 font-medium;
}

.btn-link {
  @apply text-center py-3 rounded-lg font-light text-lg w-full text-white bg-red-500;
}

textarea {
  resize: none;
  height: 100px;
}

div.input {
  @apply mb-3;

  .icon-input {
    @apply rounded-sm py-5 font-light text-lg w-full text-left border border-gray-600 px-5 flex justify-between;

    &:focus-within {
      border-color: #38b2ac;
    }

    input {
      outline: none;
    }

    :first-child {
      @apply w-full;
    }

    i {
      @apply text-gray-600;
    }

    &.has_error {
      @apply border-red-500 bg-red-300;

      * {
        @apply bg-red-300;
      }
    }
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.message {
  animation: messageFadeIn 5s ease-in-out forwards;
  &.error {
    @apply bg-red-600;
    transform: translateY(50px);
  }
  &.debug {
  }
  &.info {
    @apply bg-blue-600;
    transform: translateY(50px);
  }
  &.success {
    @apply bg-green-600;
    transform: translateY(50px);
  }
  &.warning {
    @apply bg-yellow-400;
    transform: translateY(50px);
  }
}

.border-section {
  @apply border-b border-gray-400 pb-8 mt-8;
}

.cal-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

@tailwind utilities;
